.homepage {
  width: 1440px;
  padding: 0 24px;
  padding: 24px;
  margin: 0 auto;

  .containerRevamp {
    display: flex;
    gap: 1rem;

    .leftArea {
      width: 230px;
      max-height: 100vh;
      position: sticky;
      overflow-y: auto;
      top: 16px;
      background-color: transparent;
      display: flex;
      padding-bottom: 117px;
      flex-direction: column;
      color: rgb(56, 56, 61);
      font-size: 14px;
      line-height: 20px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      .items {
        position: relative;
        display: flex;
        margin-bottom: 16px;
        padding: 12px 8px;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;

        .title {
          margin-bottom: 8px;
          padding-left: 16px;
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
          color: rgb(39, 39, 42);
        }

        .item {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          padding: 7px 16px;
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.3s ease 0s;

          &:hover {
            background: rgba(39, 39, 42, 0.12);
          }

          .subTitle {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: rgb(39, 39, 42);
          }
        }
      }
    }

    .rightArea {
      .bannerLeft {
        width: 842px;
        height: 280px;
        border-radius: 0.5rem;
        background-image: url('/assets/sale-bg-1.png');
        background-size: contain;
      }

      .bannerRight {
        width: 280px;
        height: 280px;
        border-radius: 0.5rem;
        background-image: url('/assets/sale-bg-2.png');
        background-size: contain;
      }

      .homeBrand {
        margin-top: 16px;
        padding: 12px 16px;
        background: linear-gradient(rgba(255, 255, 255, 0) 22.49%, rgb(255, 255, 255) 73.49%), linear-gradient(264.03deg, rgb(220, 229, 251) -10.27%, rgb(234, 236, 255) 35.65%, rgb(213, 236, 253) 110.66%);
        border-radius: 8px;
        min-height: 320px;

        &Title {
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          color: rgb(39, 39, 42);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 12px;
        }

        &List {
          .itembrand {
            // background-image: url('/assets/brand-1.jpg');
            height: 250px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }

      .highlights {
        margin-top: 16px;
        padding: 12px 16px;
        background: white;
        border-radius: 8px;
        min-height: 320px;

        &Title {
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          color: rgb(39, 39, 42);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 12px;
        }

        &List {
          .itemHighlights {
            // background-image: url('/assets/highlights-1.png');
            height: 245px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            border-radius: 8px;
            border: 1px solid #f2f2f2;
            cursor: pointer;
          }
        }
      }

      .suggestToday {
        margin-top: 1rem;

        &Title {
          color: rgb(39, 39, 42);
          display: flex;
          padding: 12px 16px;
          background-color: white;
          flex: 1 1 0%;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          text-transform: unset;
          margin-bottom: 0px;
          margin-top: 0px;
          border-radius: 8px 8px 0px 0px;
        }

        &List {
          display: grid;
          // overflow: auto;
          // position: relative;
          grid-template-columns: repeat(6, 1fr);
          // column-gap: 0px;
          margin-bottom: 8px;
          background-color: white;

          .itemSuggest {
            padding: 8px 4px;
            border-bottom: 1px solid rgb(235, 235, 240);
            cursor: pointer;

            .tabText {
              color: #808089;
              font-weight: 400;
              font-size: 12px;
              line-height: 150%;
              padding-top: 4px;
              text-align: center;
            }

            &:hover {
              background: rgba(128, 128, 137, 0.12);
            }
          }

          .selectedSuggest {
            background: #0060ff1f;
            border-bottom: 1px solid rgb(10, 104, 255);

            &:hover {
              background: #e9eefa;
            }

            .tabText {
              color: #0a68ff;
            }
          }
        }

        .productList {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          margin-bottom: 8px;
          gap: 0.5rem;

          .productItem {
            cursor: pointer;
            width: 100%;
            height: 100%;
            background: rgb(255, 255, 255);
            border-radius: 4px;
            &:hover {
              box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
            }

            .official {
              width: 70px;
              height: 16px;
              background-size: contain;
              border-top-left-radius: 4px;
              position: absolute;
            }

            .thumbnail {
              width: 183px;
              height: 183px;
              background-size: cover;
            }

            .addToFavorites {
              position: absolute;
              top: 3px;
              right: 6px;
            }

            .info {
              padding: 8px 0px;
              // border-bottom: 1px solid rgb(235, 235, 240);
              margin: 0px 12px;

              .name {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                min-height: 36px;

                h3 {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 150%;
                  color: rgb(39, 39, 42);
                  margin: 0px;
                  word-break: break-word;
                }
              }

              .fullRating {
                display: flex;
                align-items: center;

                .point {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 150%;
                  color: rgb(128, 128, 137);
                }
              }

              .emptyRating {
                height: 18px;
                width: 100%;
              }

              .bisectingLine {
                display: flex;
                align-self: center;
                width: 1px;
                height: 9px;
                background-color: #c7c7c7;
              }

              .quantity {
                color: rgb(128, 128, 137);
                line-height: 150%;
                font-size: 12px;
                // padding-left: 6px;
                // border-left: 1px solid #ebebf0;
              }

              .priceDiscount {
                text-align: left;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                margin-top: 6px;
                color: rgb(56, 56, 61);
                display: flex;
                gap: 0.5rem;
                -webkit-box-align: center;
                align-items: center;
              }

              .hasDiscount {
                color: #ff424e;
              }

              .badgeUnderPrice {
                color: rgb(128, 128, 137);
                font-weight: 400;
                font-size: 10px;
                line-height: 150%;
                min-height: 30px;
              }

              .badgeUnderRating {
                display: flex;
                gap: 4px;
                flex-wrap: wrap;
                margin-top: 6px;
                min-height: 17px;

                .item {
                  padding: 2px 4px;
                  border: 0.5px solid rgb(10, 104, 255);
                  border-radius: 2px;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 12px;
                  color: rgb(10, 104, 255);
                }
              }
            }

            .badgeDelivery {
              display: flex;
              padding: 8px 12px;
              gap: 4px;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: rgb(128, 128, 137);
            }
          }
        }
      }
    }
  }
}

.textures {
  position: relative;
  background-image: url('/assets/partten02.svg');
  background-size: cover;
  padding-bottom: 12.5rem;

  .btnArea {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
  }
}
